[submodule "submodules/Delta-Icons"]
	path = submodules/Delta-Icons
	url = https://github.com/adil192/Delta-Icons-android.git
	branch = update-saber-icon
[submodule "submodules/flutter"]
	path = submodules/flutter
	url = https://github.com/flutter/flutter.git
	branch = stable
