[submodule "submodules/Delta-Icons"]
	path = submodules/Delta-Icons
	url = https://github.com/Delta-Icons/android.git
	branch = master
[submodule "submodules/flutter"]
	path = submodules/flutter
	url = https://github.com/flutter/flutter.git
	branch = stable
[submodule "submodules/lawnicons"]
	path = submodules/lawnicons
	url = https://github.com/LawnchairLauncher/lawnicons.git
	branch = develop
[submodule "submodules/lineage_wiki"]
	path = submodules/lineage_wiki
	url = https://github.com/LineageOS/lineage_wiki
	branch = main
